.fotoperfil {
    background-color: #861943;
    margin: 0px;
    border-top:15px #861943 solid;
}
img {
    display: block;
    margin: auto;
}
h1 {
    font-size: 70px;
    font-family: "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #861943;
    margin: auto;
    padding-top: 15px;
}
h3 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #861943;
    margin: auto;
    border-bottom: 10px solid black;
    padding-bottom: 10px;
}
.ola {
    font-family: "Crimson text", Serif;
    font-size: 105px;
    opacity: 0.3;
}
.myname {
    font-family: "Crimson text", Serif;
    font-size: 35px;
    opacity: 0.3;
    margin-left: 190px;
    margin-top: -160px;
}
.joao {
    font-family: "Crimson text", Serif;
    font-size: 75px;
    margin-left: 376px;
    margin-top: -113px;
}
.construo {
    font-family: "Crimson text", Serif;
    font-size: 35px;
    opacity: 0.3;
    margin-left: 918px;
    margin-top: -24px;
}
.sites {
    font-family:"Crimson text" "cursive",Serif;
    font-size: 105px;
    color: #861943;
    margin-left: 1112px;
    margin-top: -140px;
}
.link {
    font-size: 16px;
    background-color: #861943;
    border: 5px solid #000000;
    width: 225px;
    padding: 23px;
    margin: auto;
}

.link a {
    color: #FFFFFF;
}

